---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>Hi, I'm Nun.</p>
			<p>
				This is a place for me to think and jot down loose thoughts. It's a chaotic mess of a site but you'll have to live with that.
			</p>

			<p>I'm a software developer with a whole host of interests:</p>

			<ul class="list-disc list-inside">
				<li>Crypto</li>
				<li>Privacy</li>
				<li>Philosophy</li>
				<li>History</li>
				<li>Geopolitics</li>
			</ul>
			<br />

			<p>
				My plan is for this site just to be a peak into my thoughts, a digital garden of sorts.
			</p>
		</main>
		<Footer />
	</body>
</html>
